<!-- Begin page content -->
  <div class="container">
    <div class="page-header">
      <h1>Smarter Data Means Better Outcomes</h1>
    </div>
    <div class="container marketing">
      <p class="lead">Additive Analytics is based on cutting-edge predictive models developed by University of Chicago scientists and engineers. Using state-of-the-art machine learning techniques, we create clear and intuitive interactive graphs and charts. Hospitals have massive amounts of data in their Electronic Medical Records. Our data-driven approach helps providers unlock patterns in their data and deliver vastly improved clinical outcomes.</p>
      <div class="row">
        <hr class="featurette-divider" style="margin: 40px 0;">
      </div>
      <div class="row">
          <img class="img-circle" style="float:left; padding-right: 20px" src="/images/laura_hamilton.jpg">
          <h2>Laura Hamilton, CEO</h2>
          <p>Laura Hamilton is the CEO of Additive Analytics. Laura has a mathematics degree from the University of Chicago. As Senior Product Manager at Enova International, she launched several new businesses. As Head of Analytics at BayRu, she built a proprietary analytics engine that compared the company's performance to benchmarks. She left BayRu to found Additive Analytics and bring actionable analytics to healthcare.<br><br></p>
      </div>
    </div>
