<!-- Begin page content -->
  <div class="container">
    <div class="page-header">
      <h1>Smarter Data Means Better Outcomes</h1>
    </div>
    <p class="lead">Additive Analytics is based on cutting-edge predictive models developed by University of Chicago scientists and engineers. Using state-of-the-art machine learning techniques, we create clear and intuitive interactive graphs and charts. Hospitals have massive amounts of data in their Electronic Medical Records. Our data-driven approach helps providers unlock patterns in their data and deliver vastly improved clinical outcomes.</p>
