    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Better Data. Better Care.</h1>
        <p>Additive Analytics brings state-of-the-art analytical techniques to healthcare. We provide sleek, intuitive reports and charts driven by state-of-the-art machine learning algorithms. Better data means better clinical outcomes.</p>
        <p><a class="btn btn-primary btn-lg" href="/solutions">Learn More</a></p>
      </div>
    </div>

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4" style="text-align:center">
          <img src="/graphics/200_ambulance.png">
          <h2>Reduce Readmission Rates</h2>
          <p>Identify which patients are at high risk of readmission. Provide preventative care <em>before</em> the patient arrives at the Emergency Room. Help patients manage chronic conditions such as diabetes and heart disease from the comfort of their own homes.</p>
          <p></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4" style="text-align:center">
          <img src="/graphics/200_doctor.png">
          <h2>Improve Surgical Outcomes</h2>
          <p>Our proprietary machine learning algorithms analyze more than 200 variables in order to provide hospitals and physicians the insights they need to reduce complication rates and improve surgical outcomes.</p>
          <p></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4" style="text-align:center">
          <img src="/graphics/200_child_and_doc.png">
          <h2>Understand Value Based Payments</h2>
          <p>Understand the impact of Value Based Payments (VBP) on revenues and earnings. Identify ways to improve quality of care in order to take advantage of the new payment system. Are you ready?</p>
          <p></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider" style="margin: 80px 0;">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading" style="margin-top:40px">Industry-Leading Analytics. <span class="text-muted">Cutting-edge machine learning.</span></h2>
          <p class="lead">Additive Analytics has developed several proprietary machine learning algorithms that analyze and summarize all your electronic medical records. Our proprietary software will automatically synthesize the information and present you with clear, concise, digestible takeaways.</p>
        </div>
        <div class="col-md-5">
          <img src="/graphics/300_robot.png">
        </div>
      </div>

      <hr class="featurette-divider" style="margin: 80px 0;">

      <div class="row featurette">
        <div class="col-md-5">
          <img src="/graphics/300_chart.png">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading" style="margin-top:40px">Intuitive Charts. <span class="text-muted">Simple Summaries.</span></h2>
          <p class="lead">It's simple to set up, easy to use, and beautiful. We integrate seamlessly with all the main EMR providers.</p>
        </div>
      </div>

      <hr class="featurette-divider" style="margin: 80px 0;">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading" style="margin-top:40px">Private. <span class="text-muted">Secure.</span></h2>
          <p class="lead">We offer HIPAA-level security; our security protocols are like those used for a HIPAA-compliant system. We use state-of-the-art encryption technology. Our system periodically undergoes intensive vulnerability audits. We are obsessive about keeping patients' private data secure.</p>
        </div>
        <div class="col-md-5">
          <img src="/graphics/300_lock.png">
        </div>
      </div>

      <hr class="featurette-divider" style="margin: 80px 0;">

      <!-- /END THE FEATURETTES -->

