    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Better Data. Better Care.</h1>
        <p>Additive Analytics brings state-of-the-art analytical techniques to healthcare. We provide sleek, intuitive reports and charts driven by state-of-the-art machine learning algorithms. Better data means better clinical outcomes.</p>
        <p><a class="btn btn-primary btn-lg">Sign Up</a></p>
      </div>
    </div>

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4" style="text-align:center">
          <img class="img-circle" src="http://placedog.com/140/140"  alt="Generic placeholder image" style="width: 140px; height: 140px">
          <h2>Reduce Readmission Rates</h2>
          <p>Identify which patients are at high risk of readmission. Provide preventative care <em>before</em> the patient arrives at the Emergency Room. Help patients manage chronic conditions such as diabetes and heart disease from the comfort of their own homes.</p>
          <p><a class="btn btn-default" href="#">Learn More &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4" style="text-align:center">
          <img class="img-circle" src= "http://placedog.com/140/140" style="style="width: 140px; height: 140px;">
          <h2>Improve Surgical Outcomes</h2>
          <p>Our proprietary machine learning algorithms analyze more than 200 variables in order to provide hospitals and physicians the insights they need to reduce complication rates and improve surgical outcomes.</p>
          <p><a class="btn btn-default" href="#">Learn More &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4" style="text-align:center">
          <img class="img-circle" src="http://placedog.com/140/140" alt="Generic placeholder image" style="width:140px; height: 140px">
          <h2>Understand Value Based Payments</h2>
          <p>Understand the impact of Value Based Payments (VBP) on revenues and EBIDTA. Identify ways to improve quality of care in order to take advantage of the new payment system. Are you ready?</p>
          <p><a class="btn btn-default" href="#">Learn More &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider" style="margin: 80px 0;">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading" style="margin-top:120px">Industry-Leading Analytics. <span class="text-muted">Cutting-edge machine learning.</span></h2>
          <p class="lead">Your patients deserve the best.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="http://placedog.com/500/500" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider" style="margin: 80px 0;">

      <div class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="http://placedog.com/500/500" alt="Generic placeholder image">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading" style="margin-top:120px">Intuitive Charts. <span class="text-muted">Simple Summaries.</span></h2>
          <p class="lead">Integrated with all major EMR providers.</p>
        </div>
      </div>

      <hr class="featurette-divider" style="margin: 80px 0;">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading" style="margin-top:120px">Private. <span class="text-muted">Secure.</span></h2>
          <p class="lead">HIPAA compliant.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="http://placedog.com/500/500" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider" style="margin: 80px 0;">

      <!-- /END THE FEATURETTES -->

