    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Better Analytics. Better Care.</h1>
        <p>Additive Analytics brings state-of-the-art analytical techniques to healthcare. We provide sleek, intuitive reports and charts driven by state-of-the-art machine learning algorithms. Better data means better clinical outcomes.</p>
        <p><a class="btn btn-primary btn-lg" href="/solutions">View Solutions</a></p>
      </div>
    </div>

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4" style="text-align:center">
          <img src="/graphics/200_ambulance.png">
          <h2><a href="/solutions/reduce_readmissions">Reduce Readmissions</a></h2>
          <p>Identify which patients are at high risk of readmission. Provide preventative care <em>before</em> the patient arrives at the Emergency Room.</p>
          <p></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4" style="text-align:center">
          <img src="/graphics/200_child_and_doc.png">
          <h2><a href="/solutions/treatment_tracker">Engage Patients</a></h2>
          <p>Improve drug regimen compliance and increase patient engagement with the <a href="/solutions/treatment_tracker">Treatment Tracker</a> app. Uploads patient data directly to EHR.</p>
          <p></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4" style="text-align:center">
          <img src="/graphics/200_doctor.png">
          <h2><a href="/solutions/hospital_compare">Compare Hospitals</a></h2>
          <p>Compare the performance of different hospitals on various objective quality metrics, including <a href="/solutions/readmissions">readmissions rate</a> and <a href="/solutions/maternity">maternity ward quality</a>.</p>
          <p></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider" style="margin: 80px 0;">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading" style="margin-top:40px">Industry-Leading Analytics. <span class="text-muted">Cutting-edge machine learning.</span></h2>
          <p class="lead">Additive Analytics has developed several proprietary machine learning algorithms that analyze and summarize all your electronic medical records. Our proprietary software will automatically synthesize the information and present you with clear, concise, digestible takeaways.</p>
        </div>
        <div class="col-md-5">
          <img src="/graphics/300_robot.png">
        </div>
      </div>

      <hr class="featurette-divider" style="margin: 80px 0;">

      <div class="row featurette">
        <div class="col-md-5">
          <img src="/graphics/300_chart.png">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading" style="margin-top:40px">Intuitive Charts. <span class="text-muted">Simple Summaries.</span></h2>
          <p class="lead">It's simple to set up, easy to use, and beautiful. We integrate seamlessly with all the main EMR providers.</p>
        </div>
      </div>

      <hr class="featurette-divider" style="margin: 80px 0;">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading" style="margin-top:40px">Private. <span class="text-muted">Secure.</span></h2>
          <p class="lead">We offer HIPAA-level security; our security protocols are like those used for a HIPAA-compliant system. We use state-of-the-art encryption technology. Our system periodically undergoes intensive vulnerability audits. We are obsessive about keeping patients' private data secure.</p>
        </div>
        <div class="col-md-5">
          <img src="/graphics/300_lock.png">
        </div>
      </div>

      <hr class="featurette-divider" style="margin: 80px 0;">

      <!-- /END THE FEATURETTES -->

