<!-- Begin page content -->
  <div class="container">
    <div class="page-header">
      <h1>Terms of Use</h1>
    </div>
    <p class="lead">NOTICE TO ALL USERS: CAREFULLY READ THE FOLLOWING LEGAL AGREEMENT BEFORE USING THIS WEBSITE. BY USING THIS WEBSITE, YOU SIGNIFY YOUR ASSENT TO THESE TERMS AND CONDITIONS OF USE ("TERMS OF USE") AND YOUR CONSENT TO THE INFORMATION HANDLING PRACTICES DESCRIBED IN ADDITIVE ANALYTICS' PRIVACY POLICY. IF YOU DO NOT AGREE TO THESE TERMS OF USE AND/OR THE PRIVACY POLICY, PLEASE NAVIGATE AWAY FROM AND DO NOT USE THIS WEBSITE.

    <h3>1. Ownership Rights</h3>

    <p>This "Additive Analytics Website," located at additiveanalytics.com (and any subdomains thereof) and information provided by Additive Analytics,LLC. ("Additive Analytics”) at this website, is owned and operated by Additive Analytics. The Additive Analytics Website is protected by United States copyright law and international treaty provisions. You acknowledge that no title to the intellectual property in the Additive Analytics Website is transferred to you. No material from the Additive Analytics Website may be copied, reproduced, republished, uploaded, posted, transmitted or distributed in any way by you, except that you may download one copy of the materials on any single computer for your personal, non-commercial use only, provided that you keep intact all copyright and other proprietary notices appearing on such materials. You may not modify, or create derivative works based upon, the Additive Analytics Website or any materials contained therein, in whole or in part. All rights not expressly licensed hereunder are reserved by Additive Analytics.


    <h3>2. Trademarks</h3>

    <p>You agree that Additive Analytics, the Additive Analytics design marks, and the Additive Analytics logo(s) are trademarks, service marks or registered trademarks or registered service marks of Additive Analytics and are protected by U.S. and international trademark law. The Additive Analytics logo(s), all product and service names, and all trademarks and logos appearing on this Web Site, unless otherwise noted, are trademarks, service marks or registered trademarks or registered service marks and/or trade dress of Additive Analytics (the “Marks”). You agree not to display or use in any manner Additive Analytics’ marks or any confusingly similar mark without the prior express written permission of Additive Analytics. The names and logos of other companies and non-Additive Analytics products mentioned in materials appearing on the Additive Analytics Website are the trademarks or registered trademarks of their respective owners.</p>


    <h3>3. Warranty Disclaimer</h3>

    <p>The Additive Analytics Website and all elements thereof are provided on an "AS IS" basis without warranty of any kind, express or implied. ADDITIVE ANALYTICS EXPRESSLY DISCLAIMS ALL WARRANTIES OF ANY KIND, WHETHER EXPRESS OR IMPLIED, OR ARISING FROM CUSTOM OR TRADE, INCLUDING WITHOUT LIMITATION, IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE AND NON-INFRINGEMENT. ADDITIVE ANALYTICS DOES NOT WARRANT THAT THE FUNCTIONS CONTAINED IN THE ADDITIVE ANALYTICS WEBSITE WILL BE UNINTERRUPTED OR ERROR-FREE, THAT DEFECTS WILL BE CORRECTED, OR THAT THE ADDITIVE ANALYTICS WEBSITE OR THE SERVERS THAT MAKE IT AVAILABLE ARE FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS. ADDITIVE ANALYTICS DOES NOT WARRANT OR MAKE ANY REPRESENTATIONS REGARDING THE CORRECTNESS, ACCURACY, OR RELIABILITY OF THE ADDITIVE ANALYTICS WEBSITE OR ANY INFORMATION OR MATERIALS CONTAINED THEREIN. SOME STATES AND JURISDICTIONS DO NOT ALLOW THE EXCLUSION OR LIMITATION OF IMPLIED WARRANTIES, SO THE ABOVE EXCLUSION AND LIMITATION MAY NOT APPLY TO YOU, IN WHICH CASE, THE FOREGOING SHALL BE ENFORCEABLE TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW.</p>


    <h3>4. Limitation of Liability</h3>

    <p>UNDER NO CIRCUMSTANCES AND UNDER NO LEGAL THEORY (INCLUDING, WITHOUT LIMITATION, TORT (INCLUDING WITHOUT LIMITATION NEGLIGENCE OR STRICT LIABILITY), CONTRACT, OR OTHERWISE), SHALL ADDITIVE ANALYTICS OR ITS SUBSIDIARIES, AFFILIATES, OFFICERS, EMPLOYEES, AGENTS, PARTNERS, AND LICENSORS BE LIABLE TO YOU OR ANY OTHER PERSON FOR ANY INDIRECT, SPECIAL, INCIDENTAL, CONSEQUENTIAL, PUNITIVE, OR EXEMPLARY DAMAGES OF ANY CHARACTER INCLUDING, WITHOUT LIMITATION, DAMAGES FOR LOST PROFITS, LOST DATA, COMPUTER FAILURE OR MALFUNCTION, OR ANY AND ALL OTHER INTANGIBLE DAMAGES OR LOSSES, EVEN IF ADDITIVE ANALYTICS HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. IF YOU ARE A CALIFORNIA RESIDENT, YOU WAIVE CALIFORNIA CIVIL CODE §1542, WHICH SAYS: A GENERAL RELEASE DOES NOT EXTEND TO CLAIMS WHICH THE CREDITOR DOES NOT KNOW OR SUSPECT TO EXIST IN HIS FAVOR AT THE TIME OF EXECUTING THE RELEASE, WHICH IF KNOWN BY HIM MUST HAVE MATERIALLY AFFECTED HIS SETTLEMENT WITH THE DEBTOR. ADDITIVE ANALYTICS’ AGGREGATE LIABILITY ARISING OUT OF THESE TERMS OR YOUR USE OF THE ADDITIVE ANALYTICS WEBSITE SHALL NOT EXCEED ONE HUNDRED DOLLARS ($100). SOME STATES AND JURISDICTIONS DO NOT ALLOW THE EXCLUSION OR LIMITATION OF INCIDENTAL OR CONSEQUENTIAL DAMAGES, SO THIS LIMITATION AND EXCLUSION MAY NOT APPLY TO YOU, IN WHICH CASE, THE FOREGOING SHALL BE ENFORCEABLE TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW.</p>


    <h3>5. Termination</h3>

    <p>All rights to use the Additive Analytics Website will terminate automatically if you fail to comply with any of the limitations or other requirements described in these Terms of Use. Upon termination, you must destroy all copies of any materials obtained from the Additive Analytics Website.


    <h3>6. Jurisdiction</h3>

    <p>Unless otherwise specified, the materials in the Additive Analytics Website are presented solely for the purpose of promoting Additive Analytics and its products. The Additive Analytics Website is controlled by Additive Analytics from its offices within the State of Illinois, USA. Additive Analytics makes no representation that materials in the Additive Analytics Website are appropriate or available for use in other locations outside the United States. Neither the Additive Analytics Website nor any underlying information or technology may be downloaded or otherwise exported or re-exported: (i) into (or to a national or resident of) Cuba, Iran, Libya, North Korea, Sudan, Syria or any other country to which the United States has embargoed goods; or (ii) to anyone on the U.S. Treasury Department's list of Specially Designated Nations or the U.S. Commerce Department's Table of Denial Orders. By using any element of the Additive Analytics Website, you are agreeing to the foregoing and you are certifying that you are not located in, under the control of, or a national or resident of, any such country or on any such list. In addition, you are responsible for complying with any and all local laws in your jurisdiction which may impact your right to use the Additive Analytics Website.</p>


    <h3>7. Miscellaneous</h3>

    <p>These Terms of Use are governed by the laws of the State of Illinois, without reference to conflict of laws principles. These Terms of Use, together with the Additive Analytics Privacy Policy, set forth the entire understanding and agreement between you and Additive Analytics with respect to the subject matter hereof and supersede any other communications with respect to the Additive Analytics Website. Additive Analytics may assign its rights and duties under these Terms of Use to any party at any time without notice to you. Additive Analytics may update these Terms of Use periodically by posting the amended Terms of Use on the Additive Analytics Website. You can view the most current version of the Terms of Use at any time by clicking on the link labeled "Terms”. If you continue to use the Additive Analytics Website after any amended Terms of Use have been posted, by that continued use, you signify your acceptance of the Terms of Use, as modified. No provision hereof shall be deemed waived by Additive Analytics unless such waiver shall be in writing and signed by a duly authorized representative of Additive Analytics. If any provision of these Terms of Use is held to be invalid or unenforceable, such provision shall be struck and the remaining provisions of these Terms of Use shall continue in full force and effect. You and Additive Analytics each confirm that it is your wish that this Agreement has been written in the English language only.


    <h3>8. Date of Last Revision</h3>

    <p>September 12, 2013</p>


    <h3>9. Additive Analytics Customer Contact</h3>


    <p>If you would like to contact Additive Analytics for any reason, you may contact us at the contact information on our contact us page.</p>
