<!-- Begin page content -->
  <div class="container">
    <div class="page-header">
      <h1>Compare Prices</h1>
    </div>
    <div class="container-marketing">
      <h3>See what the same surgery costs at different providers</h3>
      <p>
      The same surgical procedure can vary widely in cost from one provider to the next. Use the table below to price shop.
      </p>

      <p>
      Also, take a look at how many procedures each provider does in a year. It's often a good idea to choose a provider who performs the procedure often.
      </p>

      <p>
      You may also be interested in seeing how Here is a <a href="/solutions/nationwide_price_compare" data-no-turbolink>surgery prices vary from state to state</a>.
      </p>
      <br>
      <br>

      <table id="compare_prices" class="display" data-source="solutions/compare_prices_data" style="font-size:14px;">
        <thead>
          <tr>
            <th>All States</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
          <tr>
            <th>State</th>
            <th>Hospital Name</th>
            <th>Procedure Type</th>
            <th>Number of Procedures</th>
            <th>Average Cost</th>
          </tr>
        </thead>
        <tbody>
          <td class="dataTables_empty">Loading</td>
          <td class="dataTables_empty">Loading</td>
          <td class="dataTables_empty">Loading</td>
          <td class="dataTables_empty">Loading</td>
          <td class="dataTables_empty">Loading</td>
        </tbody>
        <tfoot>
          <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </tfoot>
       </table>
      
       <br><br>
       <p>Based on the publicly available data on Medicare payments to physicians and healthcare organizations. You can find the <a href="https://www.cms.gov/Research-Statistics-Data-and-Systems/Statistics-Trends-and-Reports/Medicare-Provider-Charge-Data/Physician-and-Other-Supplier.html">raw data here.</a></p>

      <hr class="featurette-divider" style="margin: 80px 0;">

      <!-- /END THE FEATURETTES -->

