<!-- Begin page content -->
  <div class="container">
    <div class="page-header">
      <h1>The Metrics That Matter</h1>
    </div>
    <div class="container-marketing">
      <p><b>Experiment, measure, iterate, improve.</b> Running a high-performing, cutting-edge hospital requires a deep understanding of your data. Additive Analytics provides the metrics you need to measure every step along the way.</p><br><br>
    </div>
    <!-- START THE FEATURETTES -->

      <div class="row featurette">
        <div class="col-md-6">
          <h2 class="featurette-heading">Compare your hospital to its competitors.</h2>
          <p class="lead">Compare your hospital to more than 4,400 United States general acute-care hospitals.</p>
        </div>
        <div class="col-md-6">
          <img src="/images/product/additive_analytics_hospital_compare.png" width="500px">
        </div>
      </div>

      <hr class="featurette-divider" style="margin: 80px 0;">

      <div class="row featurette">
        <div class="col-md-6">
          <img src="/images/product/readmission_rate_time_series.png" width="500px">
        </div>
        <div class="col-md-6">
          <h2 class="featurette-heading" style="margin-top:40px">Chart performance over time.</h2>
          <p class="lead">Measure your hospital's performance on quality-care measures over time. Measure whether new processes or initiatives are having an impact on readmissions rates. Figure out what is working and what is not.</p>
        </div>
      </div>

      <hr class="featurette-divider" style="margin: 80px 0;">

      <div class="row featurette">
        <div class="col-md-6">
          <h2 class="featurette-heading" style="margin-top:40px">Compare physicians' performance.</h2>
          <p class="lead">Identify high-performing physicians, and use them to model best practices and teach other physicians. Identify and fix problem areas early, before they affect Medicare reimbursements.</p>
        </div>
        <div class="col-md-6">
          <img src="/images/product/readmission_rate_by_physician.png" width="500px">
        </div>
      </div>

      <hr class="featurette-divider" style="margin: 80px 0;">

      <div class="row featurette">
        <div class="col-md-6">
          <img src="/images/product/at_risk_patients.png" width="500px">
        </div>
        <div class="col-md-6">
          <h2 class="featurette-heading" style="margin-top:40px">Identify high-risk patients before discharge.</h2>
          <p class="lead">Identify which patients are at high risk of readmission while they are still in the hospital. Intervene early, either in the hospital or in the patient's home.</p>
        </div>
      </div>

      <hr class="featurette-divider" style="margin: 80px 0;">

      <!-- /END THE FEATURETTES -->

