<!-- Begin page content -->
  <div class="container">
    <div class="page-header">
      <h1>Population Health: Influenza</h1>
      	<style>

        .axis path,
        .axis line {
          fill: none;
          stroke: #000;
          shape-rendering: crispEdges;
        }

        .x.axis path {
          display: none;
        }

        .line {
          fill: none;
          stroke: steelblue;
          stroke-width: 2px;
        }

        .line:hover {
          stroke: #91C3DC ;
        }

	</style>

    <script src="../assets/application.js"></script>
    </div>

    <div class="container-marketing">
      <h3>Tracking Flu Outbreaks with Wikipedia</h3>
      <p>
      Number of visits to the Influenza Wikipedia page. Researchers <a data-no-turbolink='true' href="http://www.additiveanalytics.com/blog/study-wikipedia-reporting-flu-outbreaks-better-cdc/">have shown that Wikipedia traffic data provides better real-time analytics on influenza outbreaks than the CDC's numbers.</a>
      <br><br>
      The CDC's influenza tracking has a typical lag time of 7-14 days; the Wikipedia data has virtually no lag.
      </p>
      <br>
      <br>
      <%= @influenza_data %>
      <div class="aGraph"></div>

      <script type="text/javascript">
        var margin = {top: 20, right: 20, bottom: 30, left: 100},
            width = 960 - margin.left - margin.right,
            height = 500 - margin.top - margin.bottom;

	var parseDate = d3.time.format("%Y-%m-%d").parse;

	var x = d3.time.scale()
	    .range([0, width]);

	var y = d3.scale.linear()
	    .range([height, 0]);

	var xAxis = d3.svg.axis()
	    .scale(x)
            .tickFormat(d3.time.format("%Y-%m"))
	    .orient("bottom");

	var yAxis = d3.svg.axis()
	    .scale(y)
	    .orient("left");

	var line = d3.svg.line()
            .interpolate("basis")
	    .x(function(d) { return x(d.view_date); })
	    .y(function(d) { return y(d.daily_views); });

	var svg = d3.select("body").select("p").append("svg")
	    .attr("width", width + margin.left + margin.right)
	    .attr("height", height + margin.top + margin.bottom)
          .append("g")
            .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

	d3.json('flu_tracker_data', function(error, data) {
          data.forEach(function(d) {
            d.view_date = parseDate(d.view_date);
            d.daily_views = +d.daily_views;
          });

          x.domain(d3.extent(data, (function(d) { return d.view_date; })));
          y.domain(d3.extent(data, function(d) { return d.daily_views; }));

          svg.append("g")
            .attr("class", "x axis")
            .attr("transform", "translate(0," + height + ")")
            .call(xAxis);

          svg.append("g")
              .attr("class", "y axis")
              .call(yAxis)
            .append("text")
              .attr("transform", "rotate(-90)")
              .attr("y", function(d, daily_views) {return daily_views;})
              .attr("dy", ".71em")
              .style("text-anchor", "end")

         svg.append("path")
           .datum(data)
           .attr("class", "line")
           .attr("d", line);
         });

      </script>
    </div>

