<!-- Begin page content -->
  <div class="container">
    <div class="page-header">
      <h1>HospitalCompare</h1>
    </div>
    <div class="container-marketing">
      <p>
        <strong><a href="/solutions/readmissions"><i class="fa fa-ambulance"></i> ReadmissionsCompare</a>&mdash;</strong>Compare hospitals' 30-day readmission rates for heart attack, heart faillure, and pneumonia.
      </p>
      <p>
        <strong><a href="/solutions/maternity"><i class="fa fa-female"></i> MaternityCompare</a>&mdash;</strong>Compare hospitals' maternity wards. 
      </p>

      <hr class="featurette-divider" style="margin: 80px 0;">

      <!-- /END THE FEATURETTES -->

