<!-- Begin page content -->
  <div class="container">
    <div class="page-header">
      <h1>Smarter Data Means Better Outcomes</h1>
    </div>
    <div class="container marketing">

      <p>
        <a href="/solutions/custom_analytics"><img src="/graphics/140_chart.png" style="float:left;"></a>
        <span style="height: 140px; display:table-cell; vertical-align:middle">
          <a href="/solutions/custom_analytics">Customized Analytics</a> integrate directly into your hospital's EHR.
        </span>
      </p>

      <div style="clear:both;"></div>
      <hr class="featurette-divider" style="margin: 40px 0;">

      <p>
        <a href="/solutions/reduce_readmissions"><img src="/graphics/140_ambulance.png" style="float:left"></a>
        <span style="height: 140px; display:table-cell; vertical-align:middle">
          <a href="/solutions/reduce_readmissions">Reduce Readmissions</a> with a powerful predictive model, patient engagement app, and dedicated patient service team.
        </span>
      </p>

      <div style="clear:both;"></div>
      <hr class="featurette-divider" style="margin: 40px 0;">

      <p>
        <a href="/solutions/treatment_tracker"><img src="/images/product/treatment_tracker_app.jpg" style="float:left"></a>
        <span style="height: 140px; display:table-cell; vertical-align:middle">
          <a href="/solutions/treatment_tracker">Treatment Tracker</a> smartphone app engages patients, tracks their drug regimen compliance, and uploads the data directly to your organization's EMR.
        </span>
      </p>

      <div style="clear:both;"></div>
      <hr class="featurette-divider" style="margin: 40px 0;">

      <p>
        <a href="/solutions/hospital_compare"><img src="/graphics/150_doctor.png" style="float:left"></a>
        <span style="height: 140px; display:table-cell; vertical-align:middle">
          <a href="/solutions/hospital_compare">HospitalCompare</a> ranks every hospital according to objective quality measures.
        </span>
      </p>

      <div style="clear:both;"></div>
      <hr class="featurette-divider" style="margin: 40px 0;">

      <p>
        <a href="/solutions/compare_prices"><img src="/graphics/money_bag.png" style="float:left"></a>
        <span style="height: 140px; display:table-cell; vertical-align:middle">
          <a href="/solutions/compare_prices">PriceCompare</a> shows the average prices Medicare paid for surgeries at hospitals and Ambulatory Surgical Centers nationwide. Here is a <a href="/solutions/nationwide_price_compare" data-no-turbolink>graph that shows surgery prices by state</a>.
        </span>
      </p>

      <div style="clear:both;"></div>
      <hr class="featurette-divider" style="margin: 40px 0;">

      <p>
        <a href="/solutions/flu_tracker"><img src="/graphics/140_child_and_doc.png" style="float:left"></a>
        <span style="height: 140px; display:table-cell; vertical-align:middle">
          <a href="/solutions/flu_tracker">Population Health Tracker</a> identifies influenza outbreaks in real-time.
        </span>
      </p>
    </div>
