<!-- Begin page content -->
  <div class="container">
    <div class="page-header">
      <h1>Smarter Data Means Better Outcomes</h1>
    </div>
    <div class="container marketing">
      <p>
        <a href="/solutions/custom_analytics"><img src="/graphics/140_chart.png"></a>
        <a href="/solutions/custom_analytics">Customized Analytics</a> integrate directly into your hospital's EHR.
      </p>
      <hr class="featurette-divider" style="margin: 40px 0;">
      <p>
        <a href="/solutions/hospital_compare"><img src="/graphics/140_ambulance.png"></a>
        <a href="/solutions/hospital_compare">HospitalCompare</a> ranks every hospital according to objective quality measures.
      </p>
      <hr class="featurette-divider" style="margin: 40px 0;">
      <p>
        <a href="/solutions/flu_tracker"><img src="/graphics/140_child_and_doc.png"></a>
        <a href="/solutions/flu_tracker">Population Health Tracker</a> identifies influenza outbreaks in real-time.
      </p>
    </div>
