<!-- Begin page content -->
  <div class="container">
    <div class="page-header">
      <h1>MaternityCompare</h1>
    </div>
    <div class="container-marketing">
      <h3>Unnecessary early deliveries</h3>
      <p>
      Percent of newborns whose deliveries were scheduled too early (1-3 weeks early), when a scheduled delivery was not medically necessary.
      </p>
      <p>Lower percentages are better.
      </p>
      <br>
      <br>

      <table id="maternity" class="display" data-source="data/maternity.json">
        <thead>
          <tr>
            <th width="10%">All States</th>
            <th width="45%"></th>
            <th width="30%"></th>
            <th width="15%">All Grades</th>
          </tr>
          <tr>
            <th width="10%">State</th>
            <th width="45%">Hospital</th>
            <th width="30%">% Newborns Delivered Early</th>
            <th width="15%">Grade</th>
          </tr>
        </thead>
        <tbody>
          <td class="dataTables_empty">Loading</td>
          <td class="dataTables_empty">Loading</td>
          <td class="dataTables_empty">Loading</td>
          <td class="dataTables_empty">Loading</td>
        </tbody>
        <tfoot>
          <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </tfoot>
       </table>
      
       <br><br>
       <p>Some hospitals are not included here, either because they did not report data or they did not have enough patients to draw meaningful conclusions.</p>

      <hr class="featurette-divider" style="margin: 80px 0;">

      <!-- /END THE FEATURETTES -->

