<!-- Begin page content -->
  <div class="container">
    <div class="page-header">
      <h1>Surgery Prices by State</h1>
    </div>
    <div class="container-marketing">
      <h3>See how the cost of surgery varies from one state to the next</h3>
      <p>
      Some states are more expensive than others.
      </p>

      <br>
      <br>

      <script src="http://d3js.org/d3.v3.min.js"></script>
      <script src="http://d3js.org/topojson.v1.min.js"></script>
      <script src="/datamaps.world.min.js"></script>
      <div id="container" style="position: relative; width: 500px; height: 300px;"></div>
      <script>
        var map = new Datamap({element: document.getElementById('container')});
      </script>
      
       <br><br>
       <p>Based on the publicly available data on Medicare payments to physicians and healthcare organizations. You can find the <a href="https://www.cms.gov/Research-Statistics-Data-and-Systems/Statistics-Trends-and-Reports/Medicare-Provider-Charge-Data/Physician-and-Other-Supplier.html">raw data here.</a></p>

      <hr class="featurette-divider" style="margin: 80px 0;">

      <!-- /END THE FEATURETTES -->

