<!-- Begin page content -->
  <div class="container">
    <div class="page-header">
      <h1>Surgery Prices by State</h1>
    </div>
    <div class="container-marketing">
      <h3>See how the cost of surgery varies from one state to the next</h3>
      <p>
      Some states are more expensive than others.
      </p>

      <br>
      <br>

      <script src="http://d3js.org/d3.v3.min.js"></script>
      <script src="http://d3js.org/topojson.v1.min.js"></script>
      <script src="/assets/datamaps.usa.min.js"></script>
      <div id="container" style="position: relative; width: 500px; height: 300px;"></div>
      <script>
        var map = new Datamap({
          element: document.getElementById('container'),
          geographyConfig: {
            popupTemplate: function(geography, data) {
              return '<div class="hoverinfo">' + geography.properties.name + 'Surgery prices: ' + data.diffVersusAverage + "%"
            },
          },
          scope: 'usa',
          fills: {
            'Very Low' : 'green',
            'Low': 'green',
            'Average': 'yellow',
            'High': 'red',
            'Very High': 'red',
            defaultFill: 'gray'
          },
          data: {
          "AK":{"fillKey":"Very High","diffVersusAverage":6.3},
"AL":{"fillKey":"Very Low","diffVersusAverage":-9},
"AR":{"fillKey":"Very Low","diffVersusAverage":-8.6},
"AZ":{"fillKey":"High","diffVersusAverage":3},
"CA":{"fillKey":"Very High","diffVersusAverage":15.6},
"CO":{"fillKey":"High","diffVersusAverage":1.5},
"CT":{"fillKey":"Very High","diffVersusAverage":12.3},
"DE":{"fillKey":"High","diffVersusAverage":4},
"FL":{"fillKey":"Low","diffVersusAverage":-4.7},
"GA":{"fillKey":"Low","diffVersusAverage":-4.4},
"GU":{"fillKey":"Low","diffVersusAverage":-3.7},
"HI":{"fillKey":"Very High","diffVersusAverage":11.2},
"IA":{"fillKey":"Low","diffVersusAverage":-3.2},
"ID":{"fillKey":"Very Low","diffVersusAverage":-5.3},
"IL":{"fillKey":"Low","diffVersusAverage":-0.8},
"IN":{"fillKey":"Low","diffVersusAverage":-3.2},
"KS":{"fillKey":"Low","diffVersusAverage":-3.3},
"KY":{"fillKey":"Very Low","diffVersusAverage":-5.2},
"LA":{"fillKey":"Very Low","diffVersusAverage":-8.3},
"MA":{"fillKey":"Very High","diffVersusAverage":5.3},
"MD":{"fillKey":"Average","diffVersusAverage":0.3},
"ME":{"fillKey":"Low","diffVersusAverage":-1.2},
"MI":{"fillKey":"Low","diffVersusAverage":-2.8},
"MN":{"fillKey":"High","diffVersusAverage":4.5},
"MO":{"fillKey":"Very Low","diffVersusAverage":-5.1},
"MS":{"fillKey":"Very Low","diffVersusAverage":-9.8},
"MT":{"fillKey":"Low","diffVersusAverage":-4.6},
"NC":{"fillKey":"Low","diffVersusAverage":-4.8},
"ND":{"fillKey":"Very Low","diffVersusAverage":-18.8},
"NE":{"fillKey":"Low","diffVersusAverage":-2.9},
"NH":{"fillKey":"Low","diffVersusAverage":-2.8},
"NJ":{"fillKey":"High","diffVersusAverage":4.8},
"NM":{"fillKey":"Low","diffVersusAverage":-1.8},
"NV":{"fillKey":"High","diffVersusAverage":1.4},
"NY":{"fillKey":"Very High","diffVersusAverage":5.6},
"OH":{"fillKey":"Very Low","diffVersusAverage":-5.1},
"OK":{"fillKey":"Very Low","diffVersusAverage":-8.3},
"OR":{"fillKey":"Very High","diffVersusAverage":7.3},
"PA":{"fillKey":"Low","diffVersusAverage":-2.8},
"PR":{"fillKey":"Very Low","diffVersusAverage":-27.5},
"RI":{"fillKey":"High","diffVersusAverage":2.5},
"SC":{"fillKey":"Low","diffVersusAverage":-3.3},
"SD":{"fillKey":"Low","diffVersusAverage":-1.5},
"TN":{"fillKey":"Very Low","diffVersusAverage":-6.1},
"TX":{"fillKey":"Very Low","diffVersusAverage":-5},
"UT":{"fillKey":"Low","diffVersusAverage":-4.2},
"VA":{"fillKey":"Low","diffVersusAverage":-2.3},
"WA":{"fillKey":"Very High","diffVersusAverage":6.8},
"WI":{"fillKey":"High","diffVersusAverage":1.1},
"WV":{"fillKey":"Low","diffVersusAverage":-1.3},
"WY":{"fillKey":"Low","diffVersusAverage":-3.1}
        }
      });
      </script>
      
       <br><br>
       <p>Based on the publicly available data on Medicare payments to physicians and healthcare organizations. You can find the <a href="https://www.cms.gov/Research-Statistics-Data-and-Systems/Statistics-Trends-and-Reports/Medicare-Provider-Charge-Data/Physician-and-Other-Supplier.html">raw data here.</a></p>

      <hr class="featurette-divider" style="margin: 80px 0;">

      <!-- /END THE FEATURETTES -->

