<!-- Begin page content -->
  <div class="container">
    <div class="page-header">
      <h1>MaternityCompare</h1>
    </div>
    <div class="container-marketing">
      <h3>Excess 30-day readmissions</h3>
      <p>
      Compares hospitals based on how many readmissions they have within 30 days of discharge for heart attack, heart failure, and pneumonia. 
      </p>
      <p>In 2014, hospitals will be penalized up to 2% for excessive readmissions. 
      </p>
      <br>
      <br>

      <table id="readmissions" class="display" data-source="data/readmissions.json">
        <thead>
          <tr>
            <th>All States</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th>All Grades</th>
          </tr>
          <tr>
            <th>State</th>
            <th>Hospital Name</th>
            <th>Heart Attack Readmissions</th>
            <th>Heart Failure Readmissions</th>
            <th>Pneumonia Readmissions</th>
            <th>Heart Attack Payment Adjustment</th>
            <th>Heart Failure Payment Adjustment</th>
            <th>Pneumonia Payment Adjustment</th>
            <th>Quality Score</th>
            <th>Grade</th>
          </tr>
        </thead>
        <tbody>
          <td class="dataTables_empty">Loading</td>
          <td class="dataTables_empty">Loading</td>
          <td class="dataTables_empty">Loading</td>
          <td class="dataTables_empty">Loading</td>
          <td class="dataTables_empty">Loading</td>
          <td class="dataTables_empty">Loading</td>
          <td class="dataTables_empty">Loading</td>
          <td class="dataTables_empty">Loading</td>
          <td class="dataTables_empty">Loading</td>
          <td class="dataTables_empty">Loading</td>
        </tbody>
        <tfoot>
          <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </tfoot>
       </table>
      
       <br><br>
       <p>Based on publicly available data published by the Center for Medicare and Medicaid Services. Learn more about how payment adjustments are calculated <a href="http://www.cms.gov/Medicare/Medicare-Fee-for-Service-Payment/AcuteInpatientPPS/Readmissions-Reduction-Program.html">here.</a></p>

      <hr class="featurette-divider" style="margin: 80px 0;">

      <!-- /END THE FEATURETTES -->

