<!-- Begin page content -->
  <div class="container">
    <div class="page-header">
      <h1>Better Care Through Analytics</h1>
    </div>
    <div class="container-marketing">
      <p><b>Reduce Readmissions.</b> Additive Analytics has a three-part solution designed to help hospitals and Accountable Care Organizations reduce preventable hospital readmissions:
        <ol>
          <li>Proprietary predictive model identifies patients at high risk of readmission</li>
          <li><a href="/solutions/treatment_tracker">Treatment Tracker</a> smartphone app engages patients and enhances drug regimen compliance&mdash;shown to reduce readmissions by 21%</li>
          <li>Additive Analytics Advocates call patients after they are discharged&mdash;shown to reduce readmissions by 22%</li>
        </ol>
      </p>

      <p>
      Readmissions reduced up to an estimated 38% in total.
      </p>

      <p>
      Here is a video that describes the Additive Analytics readmissions-reduction software suite:
      </p>
      <p>
        <iframe width="640" height="360" src="//www.youtube.com/embed/bObH5EMS714?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>
      </p>

      <hr class="featurette-divider" style="margin: 80px 0;">

      <!-- /END THE FEATURETTES -->

