<!-- Begin page content -->
  <div class="container">
    <div class="page-header">
      <h1>The Metrics That Matter</h1>
    </div>
    <div class="container-marketing">
      <p><b>Engage Patients.</b> With the Additive Analytics Treatment Tracker app, providers can engage their patients by making it easy to track their treatments each day. With the Treatment Tracker, patients can:
        <ul>
          <li>Set reminders to take their prescription medications</li>
          <li>Track their drug regimen compliance each day</li>
          <li>Request refills</li>
          <li>Message their doctor</li>
        </ul>
      </p>

      <p>
      Here is a video of the Treatment Tracker app, available for iPhone, Android, and Windows phones:
      </p>
      <p>
        <iframe width="640" height="360" src="//www.youtube.com/embed/yyqhkbXMF6w?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>
      </p>

      <hr class="featurette-divider" style="margin: 80px 0;">

      <!-- /END THE FEATURETTES -->

